.header {
  position: relative;
  &::after {
    position: absolute;
    content: '';
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #f7fafc;
  }
  .logo {
    font-family: $montserrat !important;
    p {
      margin: 0;
      font-size: 20px;
      position: relative;
      line-height: 1;
      &:first-of-type {
        font-weight: 500;
        font-style: italic;
      }
      &:last-of-type {
        font-weight: 900;
      }
    }
  }
}
