.markdown {
  line-height: 1.625;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.markdown h2 {
  margin-top: 3rem;
  margin-bottom: 1rem;
  line-height: 1.375;
}

.markdown h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  line-height: 2rem;
  line-height: 1.375;
}
