.article {
  &-title {
    font-family: $productSans;
  }
  &-link {
    svg {
      transition: margin 200ms ease-in-out;
    }
    &:hover {
      svg {
        margin-left: 3px;
      }
    }
  }
}
