@font-face {
  font-family: 'Product Sans';
  src: url('/fonts/ProductSans-Regular.ttf'), url('/fonts/ProductSans-Thin.ttf'),
    url('/fonts/ProductSans-Medium.ttf'), url('/fonts/ProductSans-Bold.ttf');
}

$montserrat: 'Montserrat', sans-serif;
$product-sans: 'Product Sans', 'Open Sans', sans-serif;
$inter: 'Inter', sans-serif;
