@font-face {
  font-family: 'Product Sans';
  src: url('/fonts/product-sans/ProductSans-Black.ttf');
  font-weight: 900;
}

@font-face {
  font-family: 'Product Sans';
  src: url('/fonts/product-sans/ProductSans-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Product Sans';
  src: url('/fonts/product-sans/ProductSans-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Product Sans';
  src: url('/fonts/product-sans/ProductSans-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Product Sans';
  src: url('/fonts/product-sans/ProductSans-Thin.ttf');
  font-weight: 300;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;900&display=swap');

$montserrat: 'Montserrat', sans-serif;
$productSans: 'Product Sans', 'Open Sans', sans-serif;
