$mainColor: #38b2ac;

.markdown {
  color: #2d3748;
  *:not(code) {
    font-family: $productSans !important;
  }

  div.end-p {
    margin-bottom: 1rem;
  }

  time {
    color: #9b9b9b;
  }

  p {
    font-size: 17px;
    line-height: 1.8rem;
    margin: 1.5rem 0 0 0;
  }

  p,
  li {
    font-family: $productSans;
  }

  a {
    color: $mainColor;
    text-decoration: underline;
    cursor: pointer;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
    text-overflow: ellipsis;
  }

  h1 {
    font-size: 2rem;
    line-height: 1;
  }

  h2 {
    font-size: 1.75rem;
    line-height: 1;
  }

  h3 {
    font-size: 1.5rem;
    line-height: 1.2;
    @media (min-width: 48em) {
      line-height: 1;
    }
  }

  h4 {
    font-size: 1.875rem;
    line-height: 1.33;
    @media (min-width: 48em) {
      font-size: 2.25rem;
      line-height: 1.2;
    }
  }

  h5 {
    font-size: 1rem;
    line-height: 1.2;
  }

  h6 {
    font-size: 0.875rem;
    line-height: 1.2;
  }

  h2,
  h3,
  h4,
  h5 {
    margin: 2rem 0 0 0;
  }

  h2::before {
    position: absolute;
    margin-left: -1em;
    font-weight: 300;
    font-size: 1.5rem;
    color: #9b9b9b;
    display: none;
  }

  pre {
    display: block;
    background-color: rgba(27, 31, 35, 0.05);
    line-height: 1.25rem;
    padding: 1rem;
    overflow: auto;
    margin: 1.75rem 0 0 0;
  }

  pre code {
    background-color: transparent;
    font-size: 100%;
    padding: 0;
  }

  .footnotes {
    margin-top: 1rem;
    hr {
      border-color: #e2e8f0;
    }
  }

  sup a {
    font-size: 0.9rem;
  }

  code {
    font-family: "Ubuntu Mono", monospace;
    font-size: 85%;
    padding: 0.2em 0.4em;
    margin: 0;
    background-color: rgba(27, 31, 35, 0.05);
    border-radius: 3px;
  }

  blockquote {
    padding-left: 1rem;
    position: relative;
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 0.25rem;
      background-color: $mainColor;
    }
  }

  table {
    max-width: 100%;
    border-spacing: 0;
    margin-top: 1.5rem;
  }

  table thead {
    background: #f7f7f7;
  }

  table th {
    font-weight: 500;
  }

  table th,
  table td {
    padding: 0.5em 1em;
    border: 1px double #eee;
  }

  ol,
  ul {
    padding: 0 0 0 1.5rem;
    margin: 1.5rem 0 0 0;
  }

  ol li,
  ul li {
    line-height: 1.5rem;
  }

  li ol,
  li ul {
    margin: 0;
  }

  abbr[title] {
    text-decoration: underline double;
  }

  kbd {
    font-family: "Ubuntu Mono", monospace;
  }

  img {
    // max-height: 500px;
    margin: 1rem auto;
    @media (max-width: 760px) {
      width: 100%;
    }
  }

  // Ipad
  @media (min-width: 769px) {
    h2,
    h3,
    h4,
    h5 {
      position: relative;
    }

    h2::before {
      display: block;
    }
  }
}
